:host {
  .login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    width: 34rem;
    padding: 3rem;
    transform: translate(-50%, -50%);
  }

  .title {
    margin-bottom: 2rem;
    font-size: 2.4rem;
  }
}
