@import './styles/reset';
@import './styles/abstracts/colors';

html {
  font-size: 12px;
}

body {
  font-family: sans-serif;
  color: $black;
  background-color: $white-smoke;
}

html,
body {
  height: 100%;
}
